@import "tailwindcss";

@theme {
  /* 🌱 paleta vivero */
  --color-primary: #2f6f4e;
  --color-primary-light: #4caf50;
  --color-primary-dark: #1f3d2b;

  --color-earth: #8b5e3c;
  --color-sand: #f3e9dc;

  /* 🎨 base UI */
  --color-background: #f3e9dc;
  --color-foreground: #1f3d2b;
}

/* 🌙 dark mode */
@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;

    --color-primary: #4caf50;
    --color-primary-light: #66bb6a;
    --color-primary-dark: #1b5e20;

    --color-earth: #6d4c41;
    --color-sand: #2e2e2e;
  }
}

body {
  /* background: var(--color-background); */
  color:#000;
}